{% extends "../base.html" %}                   <!--base.html을 상속받는다고 선언-->
{% block title %}공지사항{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "bootstrap/css/bootstrap.css" %}{% endblock %}
{% block content %}


  <div style="height:150px;"></div>


<div class="board_header">

		<span class="favorite_button favorites_24761 active" onclick="location.href='{% url 'notice:notice_list' %}'">
{#            <i class="fas"></i></span>#}
        <a class="a_header" href="{% url 'notice:notice_list' %}">
            <span class="notice_title">공지사항</span>
        </a>
      </span>
<hr class="my-hr3">
</div>
<br>
<section class="board_content">
  <table id="notice_list" class="table table-striped responsive display nowrap">
    <thead>
      <tr>
        <th class="priority-1">번호</th>
        <th class="priority-2">제목</th>
        <th class="priority-3">작성자</th>
        <th class="priority-4">날짜</th>
        <th class="priority-5">조회수</th>
      </tr>
    </thead>
    <tbody>
    {% for notice in notice_list %}
      <tr>
        <td class="priority-1">{{ notice.id }}</td>
        <td class="priority-2"><a style="text-decoration: none;" href="{{ notice.get_absolute_url }}">{{ notice.title }}</a></td>
        <td class="priority-3">{{ notice.author }}</td>
        <td class="priority-4">{{ notice.created_at|date:"Y-m-d" }}</td>
        <td class="priority-5">{{ notice.hit }}</td>
{#        <td></td>#}
      </tr>
    {% endfor %}

    </tbody>
  </table>
 {% if request.user.is_superuser %}
    <button type="submit">
        <a href="{% url 'notice:notice_new' %}" style="color:#000000">글쓰기</a>
    </button>
  {% endif %}
</section>

<br>




{##}
{##}
{#<section style="padding-top: 0.5rem;">#}
{#    {% for notice in notice_list %}#}
{#        <a style="text-decoration: none;" href="{{ notice.get_absolute_url }}"> &nbsp;&nbsp;{{ notice.title }}</a><br>#}
{#                <span class="name el nName" style="font-size: 13px;"> &nbsp;&nbsp;조회 {{ notice.hit }}	</span>#}
{#                <span class="l" style="font-size: 13px;">|</span>#}
{#                <span class="name el nName" style="font-size: 13px;">{{ notice.created_at|date:"Y-m-d" }}</span>#}
{#                <span class="l" style="font-size: 13px;">|</span>#}
{#                <span class="name el nName" style="font-size: 13px;">운영자</span>#}
{##}
{#        <hr style="margin-top: 0.5rem;  margin-bottom: 0.5rem;">#}
{#   {% endfor %}#}
{# {% if request.user.is_superuser %}#}
{#    <button type="submit" class="btn btn-primary btn-block writer-btn">#}
{#        <a href="{% url 'notice:notice_new' %}" style="color:#fff">글쓰기</a>#}
{#    </button>#}
{#{% endif %}#}
{#</section>#}


{% endblock %}
