{% extends "../base.html" %}                   <!--base.html을 상속받는다고 선언-->
{% block title %}{{ notice.title }}{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "notice.css" %}{% endblock %}
{% block content %}

  <div style="height:150px;"></div>

<div class="board_header">

      <span class="favorite_button favorites_24761 active" onclick="location.href='{% url 'notice:notice_list' %}'">
{#            <i class="fas"></i></span>#}
        <a class="a_header" href="{% url 'notice:notice_list' %}">
            <span class="notice_title">공지사항</span>
        </a>
      </span>
<hr class="my-hr3">
</div>

  <section>
    <article>
        <div class="title-wrap clearfix" style="padding-left:200px">

            <h5> <span style="">{{ notice.title }}</span></h5>
            <div class="under-title" style="font-size: 15px;">
                <span class="name el nName">{{ notice.author }}</span>
                <span class="l">|</span>
                <span class="date el">{{ notice.created_at|date:"Y-m-d h:s" }}</span>
                <span class="l">|</span>
             <span class="">{{ notice.update_counter }}</span>
            </div>
         </div>
    </article>
    <hr class="my-hr4">

  <div class="notice_content">
        <article itemprop="articleBody"><!--BeforeDocument(1102807111,0)-->

        <div>
            {{ notice.content|safe  }}
        <br><br>
            {% if notice.photo %}
                <img src="{{ notice.photo.url }}" style="width:330px; height:auto">
            {% endif %}
        </div>
        </article>

        <div class="control hidden">
            {% if request.user.is_superuser %}
                <button type="submit" class="">
                    <a href="{% url 'notice:notice_remove' notice.pk %}" style="color:#fff">삭제</a>
                </button></div>
        <div class="control hidden">
                <button type="submit" class="">
                    <a href="{% url 'notice:notice_edit' notice.pk %}" style="color:#fff">수정</a>
                </button>
            {% endif %}
        </div>
  </div>
  </section>



{##}
{#    <br>#}
{#    <br>#}
{##}
{#<div style="margin-left: 15px;">#}
{#    {{ total_likes }}명이 좋아합니다.#}
{##}
{#    {% if request.user.is_authenticated %}#}
{#    <form action="{% url 'notice:like_notice' %}" method="post">#}
{#        {% csrf_token %}#}
{#        {% if is_liked %}#}
{#            <button type="submit" name="notice_id" value="{{ notice.id }}" class="btn btn-danger">좋아요 취소#}
{#            </button>#}
{#        {% else %}#}
{#            <button type="submit" name="notice_id" value="{{ notice.id }}" class="btn btn-primary">좋아요#}
{#            </button>#}
{#        {% endif %}#}
{#    </form>#}
{#    {% endif %}#}
{#</div>#}
{#<br>#}
{#    <br>#}
{#    <h4>댓글</h4>#}
{#<table>#}
{##}
{#        <tbody>#}
{#        {% for c in notice.comments.all %}#}
{#            <tr>#}
{#                <td>{{ c.id }}</td>#}
{#                <td>{{ c.message }}</td>#}
{#                <td>{{ c.created_at|date:"h:s" }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#    <br>#}
{#        <textarea class="inputwriter" placeholder="댓글을 입력해주세요."  name="post"></textarea>#}
{#        <button type="submit" class="btn btn-primary" style="margin-top: 5px; width: 60px">등록</button>#}


{% endblock %}