{% extends "base.html" %}
{% block title %}비밀번호 변경{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "forms.css" %}{% endblock %}

{% block content %}
<div id="content">
    {# <h1>{{ title }}</h1> #}
    <h1 class="h3 mb-3 font-weight-normal">비밀번호 변경</h1>
    <form class="form-pw-change" action="." method="post">{% csrf_token %}
        <!-- form 변수는 PasswordChangeForm 객체로서 장고에서 제공됨 -->
        {% if form.errors %}
            <p class="error-note">오류 내용을 확인해주세요. </br>
                {{ form.errors }}
            </p>
        {% endif %}
        <p>기존 비밀번호와, 새 비밀번호를 두 번 입력해주세요.</p>
        <fieldset class="aligned2">
            <div class="form-control">
                {{ form.old_password.label_tag }} {{ form.old_password }}
            </div>
            <div class="form-control">
                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            </div>
            <div class="form-control">
                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
            </div>
        </fieldset></br>
        <div class="submit-row2">
        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">비밀번호 변경</button>
        </div>
        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </form>
</div>
{% endblock %}