{% extends "../base.html" %}                   <!--base.html을 상속받는다고 선언-->
{% block title %}상권분석{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "bootstrap/css/bootstrap.css" %}{% endblock %}
{% block content %}


  <div style="height:150px;"></div>


<div class="board_header">

		<span class="favorite_button favorites_24761 active" onclick="location.href='{% url 'notice:notice_list' %}'">
{#            <i class="fas"></i></span>#}
        <a class="a_header" href="{% url 'notice:notice_list' %}">
            <span class="notice_title">상권분석</span>
        </a>
      </span>
<hr class="my-hr3">
</div>
<br>




{% endblock %}
